.contact {
  justify-content: center;
}

@media (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    left: -20px;
  }

  .btn {
    width: 100px;
    left: 5px;
  }
}