.id_img {
  width: 250px;
  height: 250px;
  padding: 1%;
  margin-top: 5px;
}

.id {
  justify-content: center;
  width: 100%;
}

@media (max-width: 768px) {
  .id_img {
    width: 100px;
    height: 100px;
    padding: 1%;
    margin-right: 20px;
  }

  .id {
    max-width: 85%;
}
}