/* Footer.module.css */
.footer {
	color: white;
	border-top: 1px solid #333;
	background-color: #000916;
	bottom: 0;
	height: 40px;
	width: 100%;
	max-width: 100%;
}

.footer p {
	margin-top: 6px;
	margin-left: 70px;
}

@media (max-width: 767px) {
	.footer {
		justify-content: center;
		width: 100%;
		max-width: 100%;
	}
}