@import "bootstrap-icons/font/bootstrap-icons.css";

.container {
  max-width: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-color: #000916;
  display: flex;
  box-shadow: 0 3px 0 0 #002D49;
  position: relative;
  & * { overflow-y: hidden; }
}

.profile__info {
  max-width: 100%;
  width: 100%;
  display: flex;
  padding: 1%;
  margin: 0%;
  box-sizing: border-box;
  justify-content: space-around;
}

.header {
  color: white;
  max-width: 85%;
}

.id h1 {
  background-color: transparent;
  text-align: justify;
  padding: 0px;
  margin-bottom: 16px;
}

.id p {
  display: flexbox;
  font-size: 1.4em;
  line-height: 1.2;
}

.id {
  margin-bottom: 0%;
}

.profile__image {
  width: 200px;
  height: 200px;
  margin-right: 50px;
}

.contact {
  display: inline-flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  margin-top: 60px;
  right: 0;
  width: 160px;
  & * { overflow-y: hidden; }
}

.contact a {
  color: white;
}

/* Configurações para dispositivos móveis */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    height: 120px;
  }

  .profile__info {
    display: flex;
    align-items: center; /* Centraliza os itens */
    margin-left: 50px;
  }

  .profile__image {
    width: 80px; /* Reduz a largura da imagem */
    height: 80px; /* Reduz a altura da imagem */
    margin-right: 5px; 
  }

  .contact {
    position: relative; /* Muda a posição para relativa */
    width: 100%; /* Faz a largura ocupar 100% */
    margin-top: 20px; /* Ajusta a margem superior */
    right: 0; /* Mantém a posição à direita */
  }

  .id h1 {
    font-size: 1em;
    line-height: 1;
    margin: 0 0 0;
  }

  .id p {
    font-size: .8em; /* Reduz o tamanho da fonte */
    line-height: 1;
    margin: 0 0 0;
    max-width: 250px;
  }

  .contact {
    display: flex;
    position: absolute;
    margin-top: 170px;
    width: 400px;
    height: 100px;
    justify-content: end;
    & * { overflow-y: hidden; };
  }
}