/* Header.module.css */
@import "bootstrap-icons/font/bootstrap-icons.css";

.header {
    background-color: black;
    color: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.id h1 {
    background-color: transparent;
    text-align: justify;
    padding: 0px;
    margin-bottom: 16px;
}

.id p {
    font-size: 1.4em;
    line-height: 0.7;
}

.profile img {
    margin-bottom: 16px;
    margin-right: 24px;
}

.id {
    margin-bottom: 0%;
}

.profile__image img {
    width: 250px;
    height: 250px;
    margin-left: 16px;
    margin-right: 16px;
}

.contact {
    display: block;
}

.contact a {
    color: white;
}

.profile__info {
    display: flex;
    justify-content: space-between;
}

.container {
    margin-top: 48px;
    width: 95%;
}

.qualis {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 20px;
    display:flex;
}

.qualisImg {
	height: 30px; /* Tamanho padrão */
	width: 30px; /* Tamanho padrão */
}

@media (max-width: 767px) {
    .profile__image img {
        width: 90px;
        height: 90px;
				margin-left: 2px;
    }

		.id {
			max-width: 230px;
		}

    .id h1 {
        font-size: 1em;
    }
    
    .id p {
        font-size: 0.6em;
        line-height: 0.2;
        display: inline;
				width: 200px;
    }

    .container {
        margin-top: 16px;
        max-width: 100%;
    }

		.qualisImg {
			display: none;
		}
}