@import "bootstrap-icons/font/bootstrap-icons.css";

.container {
  max-width: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-color: #000916;
  display: flex;
  box-shadow: 0 3px 0 0 #002D49;
  position: relative; /* Necessário para posicionar os elementos filhos de forma relativa a ele */
  & *{overflow-y: hidden;};
}

.profile__info {
  max-width: 100%;
  width: 100%;
  display: flex;
  padding: 1%;
  margin: 0%;
  box-sizing: border-box;
  justify-content: space-around;
}

.header {
  color: white;
  max-width: 85%;
}

.id h1 {
  background-color: transparent;
  text-align: justify;
  padding: 0px;
  margin-bottom: 16px;
}

.id p {
  display: flexbox;
  font-size: 1.4em;
  line-height: 1.2;
}

.id {
  margin-bottom: 0%;
}

.profile__image {
  width: 200px;
  height: 200px;
  margin-right: 50px;
}

.contact {
  display: inline-flex;
  flex-wrap: wrap;
  position: absolute; /* Agora fica fixo em relação ao header */
  top: 0; /* Fixa em cima do header */
  margin-top: 60px;
  right: 0;
  width: 160px;
  & *{overflow-y: hidden;};
}

.contact a {
  color: white;
}


@media (max-width: 767px) {
  .profile__info {
    width: 100vw;
    max-width: 90%;
  }

  .container {
    margin-top: 48px;
    width: 100vw;
    max-width: 100%;
  }

  .header {
    width: 100%;
    max-width: 90%;
		height: 220px;
    margin-left: 40px;
  }

  .profile__image {
    width: 80px;
    height: 80px;
    margin-right: 0px;
    margin-top: 10px;
  }


  .id {
    line-height: 1.5;
    padding: 5px;
    margin: 0 0 0;
    width: 100%;
    display: inline;
    font-size: 0.5em;
  }

  .id p {
    line-height: 1.2;
    margin-right: 5px;
  }

  .id h1 {
    font-size: 2em;
    line-height: 0;
    margin: 0px 0px 10px;
    padding: 5px;
    
  }

  .container {
    margin-top: 16px;
    max-width: 100%;
  }

  .contact {
		display: flex;
    width: 200px;
    bottom: 0; /* Fixa no fundo do header */
    right: 0;
    margin: 0;
		padding: 0;
  }

  .contact {
    left: 0;
    margin-top: 0px;
    width: 200px;
  }
}
