.img_card {
  height: 250px;
  width: 250px;
}

.slick-slider,
.slick-slider * {
  overflow-y: hidden;
}

#links a {
  text-decoration: none;
}

button.slick-arrow {
  width: 50px;
}

.slick-arrow {
  font-size: 30px;
  max-width: 100%;
  color: black !important;
  position: absolute;
}

.slick-initialized{
  padding: 0 30px;
}

button.slick-next {
  margin-right: 10px !important;
}

button.slick-prev {
  margin-left: 10px !important;
}
