/* Container principal do carrossel */
.container {
  max-width: 100%;
  width: 80vw; /* Define a largura do carrossel como 60% da largura da tela */
  padding: 0;
  background-color: #000916;
  display: flex;
  flex-wrap: wrap; /* Permite a quebra de linha */
  justify-content: center; /* Centraliza os cards dentro do container */
  margin: 0 auto; /* Centraliza o container horizontalmente */
  & * { overflow-y: hidden; }
}

.carousel {
  max-width: 60vw;
}

.container h2 {
  color: aliceblue;
}

.cards {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.card {
  background-color: #002D49;
  border-radius: 8px;
  width: 100%; /* Ajusta a largura dentro do carrossel */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin: 10px;
  flex: 1 1 250px;
}

.card:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}
