body {
    background-image: url(/img/const.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding: 20px;
}

.container h2 {
    align-items: center;
    text-align: center;
    background-color: rgb(20, 20, 20);
    color: #fff;
}


.row {
    --bs-gutter-x: 5rem;
    max-width: 70%;
    margin: 0 auto;
    border-radius: 8px;
    --bs-card-bg: unset;
}

.card-body {
    position: relative;
}

.text-container {
    white-space: nowrap; /* Mantém o texto em uma única linha */
    overflow: hidden;    /* Oculta o texto que ultrapassa */
    text-overflow: ellipsis; /* Adiciona "..." ao final do texto que não cabe */
    width: 100%; /* Define a largura do container */
}