.img_card {
  height: 250px;
  width: 250px;
}

.slick-slider,
.slick-slider * {
  overflow-y: hidden;
}

#links a {
  text-decoration: none;
}

button.slick-arrow {
  width: 50px;
}

.slick-arrow {
  font-size: 30px;
  max-width: 100%;
  color: black !important;
  position: absolute;
}

.slick-initialized{
  padding: 0 10px;
}

button.slick-next {
  margin-right: 30px !important;
}

button.slick-prev {
  margin-left: 5px !important;
}

@media (max-width: 767px) {
  .slick-arrow {
    z-index: 1;
    font-size: 30px;
    width: 20%;
  }

  .slick-next {
    margin-left: -5px !important;
  }

  button.slick-next {
    margin-right: 30px !important;
  }
  button.slick-prev {
    margin-left: 30px !important;
  }
}